.topNav {
    height: 3vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #d0d2ff , #ffe6d0);
}

.user {
    display: flex;
    align-self: center;
    margin-left: 10vw;
}

.icon {
    align-self: center;
    margin-right: 1vw;
}

.menu {
    justify-self: center;
    align-self: center;
    margin-right: 8vw;
}